In [1]:
import pandas as pd

## NOTE THAT NONE OF THESE INDIVIDUATED CAMPAIGN DATAFRAME FOLDERS ARE LIKELY TO WORK! All sensitive data has been stripped.  as per the readme, you can start from the completed campaign data and secured df csv's, or plug your own mailchimp data in here!

## Import CSV's as pandas Dataframes for each individual mailchimp metric in the reports

In [2]:
dfbounce =  pd.read_csv("members_Love_Parade_And_More_Combo_1_bounces_May_19_2019.csv")
dfclicks =  pd.read_csv("members_Love_Parade_And_More_Combo_1_click_activity_May_19_2019.csv")
dfnoopen = pd.read_csv("members_Love_Parade_And_More_Combo_1_not_opened_May_19_2019.csv")
dfopen = pd.read_csv("members_Love_Parade_And_More_Combo_1_opened_May_19_2019.csv")
dfsent = pd.read_csv("members_Love_Parade_And_More_Combo_1_sent_May_19_2019.csv")
dfunsubscribe = pd.read_csv("members_Love_Parade_And_More_Combo_1_unsub-reasons_May_19_2019.csv")

In [3]:
# Sum campaign data
df_campaign_sum = pd.read_csv("../../campaign_sum_data.csv")

In [4]:
df_campaign_sum

,Title,Subject,List,Send Date,Send Weekday,Total Recipients,Successful Deliveries,Soft Bounces,Hard Bounces,Total Bounces,...,Click Rate,Total Clicks,Unsubscribes,Abuse Complaints,Times Liked on Facebook,Folder Id,Unique Id,Total Orders,Total Gross Sales,Total Revenue
0,Lightsource Envisioning 2019: Meetup & Tea Par...,Lightsource Envisioning 2019: Meetup & Tea Par...,Lightsource,"Dec 12, 2018 07:45 am",Wednesday,937,783,28,126,154,...,0.13%,1,14,0,0,0,dfbbba4bf8,0,0,0
1,(copy 01),Register as a member before New Years to get y...,Lightsource,"Dec 21, 2018 07:45 am",Friday,1839,1784,39,16,55,...,0.22%,5,65,0,0,0,1e819b6ddd,0,0,0
2,Escape The Planet // Off To Space,FRIDAY NIGHT - Escape The Planet // OFF TO SPACE,Lightsource,"Feb 21, 2019 09:59 pm",Thursday,1760,1723,31,6,37,...,0.29%,6,31,0,0,0,84c4abc48c,0,0,0
3,Free Hugs,10 year anniversary of FREE HUGS NYC - Come ou...,Lightsource,"Mar 11, 2019 07:30 am",Monday,1890,1700,46,144,190,...,0.12%,2,20,0,0,0,325eb1f748,0,0,0
4,Stickers 2019 fundraiser,LAST CHANCE get free pack of stickers before t...,Lightsource,"Mar 16, 2019 08:45 am",Saturday,1726,1652,33,41,74,...,0.54%,11,38,1,0,0,2cb6b6e6f5,0,0,0
5,Free Hugs (copy 01),10 year anniversary of FREE HUGS NYC - Come ou...,Lightsource,"Mar 22, 2019 08:15 am",Friday,1648,1594,9,45,54,...,0.19%,3,10,0,0,0,bdfcb490de,0,0,0
6,Free Hugs (copy 02),This Saturday Annual Pillow Fight at Washingto...,Lightsource,"Apr 04, 2019 12:15 am",Thursday,1592,1582,4,6,10,...,0.25%,4,10,0,0,0,6db38d21e8,0,0,0
7,Love Parade and More | Combo 1,Disrupt With LOVE! Parade For Love Next Sunday,Lightsource,"May 05, 2019 07:29 am",Sunday,199,183,5,11,16,...,0.55%,1,1,0,0,0,652dbec20c,0,0,0
8,Love Parade and More | Combo 2,Disrupt with JOY! Parade For Love Next Sunday,Lightsource,"May 05, 2019 07:29 am",Sunday,198,170,14,14,28,...,0.59%,1,2,0,0,0,47d54435c8,0,0,0
9,Love Parade and More,NaN,Lightsource,"May 05, 2019 07:30 am",Sunday,1809,1570,121,118,239,...,0.25%,0,11,0,0,0,a94ce6d5bc,0,0,0
10,Love Parade and More | Winner,Disrupt With LOVE! Parade For Love Next Sunday,Lightsource,"May 05, 2019 11:29 am",Sunday,1412,1217,102,93,195,...,0.16%,2,8,0,0,0,c1a600e566,0,0,0
11,Love Parade Last Shoutout | Combo 2,DISRUPT WITH LOVE THIS SATURDAY! #FreeHugsNYC ...,Lightsource,"May 09, 2019 08:29 am",Thursday,336,311,25,0,25,...,0.00%,0,2,0,0,0,a1aed6838d,0,0,0
12,Love Parade Last Shoutout | Combo 1,PARADE FOR LOVE THIS SATURDAY - #FreeHugsNYC A...,Lightsource,"May 09, 2019 08:29 am",Thursday,336,307,29,0,29,...,0.33%,2,4,0,0,0,f8f95de4ae,0,0,0
13,Love Parade Last Shoutout,NaN,Lightsource,"May 09, 2019 08:30 am",Thursday,1682,1558,124,0,124,...,0.32%,0,9,0,0,0,cbeb25b286,0,0,0
14,Love Parade Last Shoutout | Winner,PARADE FOR LOVE THIS SATURDAY - #FreeHugsNYC A...,Lightsource,"May 09, 2019 05:29 pm",Thursday,1010,940,70,0,70,...,0.43%,5,3,0,0,0,b4c825516b,0,0,0

###### Select the row with our specific campaigns sum data

In [5]:
campaign_data = df_campaign_sum.iloc[7, 5:10].to_frame()

In [6]:
campaign_data = campaign_data.T.head()

In [7]:
campaign_data.reset_index(inplace=True)

In [8]:
campaign_data['campaign_id'] = campaign_data['index']

In [9]:
campaign_data = campaign_data.iloc[:, 1:]

In [10]:
campaign_data

,Total Recipients,Successful Deliveries,Soft Bounces,Hard Bounces,Total Bounces,campaign_id
0,199,183,5,11,16,7

In [11]:
dfbounce.shape

(9, 11)

In [12]:
dfclicks.shape

(1, 12)

In [13]:
dfnoopen.shape

(169, 10)

In [14]:
dfopen.shape

(14, 11)

In [15]:
dfsent.shape

(183, 10)

In [16]:
dfunsubscribe.shape

(1, 12)

# How to anonymize sensitive data in a mailchimp report, using a pandas dataframe

## Generate a blank list, where you can use the extend method with the tolist method to feed list versions of these email addresses from all the metrics in these dataframe.

In [18]:
full_email_list = [] #Thanks for help with this Thomas Ludlow!

In [19]:
full_email_list.extend(dfbounce['Email Address'].tolist())

In [20]:
full_email_list.extend(dfclicks['Email Address'].tolist())

In [21]:
full_email_list.extend(dfnoopen['Email Address'].tolist())

In [22]:
full_email_list.extend((dfopen['Email Address'].tolist()))

In [23]:
full_email_list.extend(dfsent['Email Address'].tolist())

In [24]:
full_email_list.extend(dfunsubscribe['Email Address'].tolist())

In [25]:
len(full_email_list)

377

In [26]:
len(set(full_email_list))

192

### Save as a set, to remove duplicates.  Now you have a concise set of emails

In [27]:
the_email_list7 = set(full_email_list)

In [30]:
the_email_list7 = pd.DataFrame(the_email_list7)

In [31]:
the_email_list7.head()

                            0
0         kslatts26@yahoo.com
1           ilfra11@gmail.com
2           gheea25@yahoo.com
3  bianca.ambrosino@gmail.com
4         jamesmetz@inbox.com

In [32]:
the_email_list7["Email Address"] = the_email_list7[0]

In [33]:
the_email_list7.pop(0).head()

0           kslatts26@yahoo.com
1             ilfra11@gmail.com
2             gheea25@yahoo.com
3    bianca.ambrosino@gmail.com
4           jamesmetz@inbox.com
Name: 0, dtype: object

In [34]:
the_email_list7.head()

                Email Address
0         kslatts26@yahoo.com
1           ilfra11@gmail.com
2           gheea25@yahoo.com
3  bianca.ambrosino@gmail.com
4         jamesmetz@inbox.com

In [35]:
the_email_list7.to_csv("email_list7.csv")

### Use a numpy random shuffling method such as below, to randomly shuffle your emails.

In [36]:
import numpy as np

In [37]:
shuffled_email_list = the_email_list7.reindex(np.random.permutation(the_email_list7.index))

In [38]:
shuffled_email_list.head()

                  Email Address
68           eliasalvar@aol.com
66           suzennyc@gmail.com
130  marshall.mattera@gmail.com
48    swiley@gatherbrooklyn.org
10          jcardon85@gmail.com

### Reset your index, so this new shuffled list now has an entirely new one.  Then delete the old 'index' column that contains your original index.

In [39]:
shuffled_email_list.reset_index(inplace = True)

In [40]:
shuffled_email_list.drop(columns=['index'],inplace = True)
shuffled_email_list.head()

                Email Address
0          eliasalvar@aol.com
1          suzennyc@gmail.com
2  marshall.mattera@gmail.com
3   swiley@gatherbrooklyn.org
4         jcardon85@gmail.com

In [41]:
shuffled_email_list.head()

                Email Address
0          eliasalvar@aol.com
1          suzennyc@gmail.com
2  marshall.mattera@gmail.com
3   swiley@gatherbrooklyn.org
4         jcardon85@gmail.com

### Set this new index as email_index - you will use this instead of sensitive data to anonymize your audience, once you pd.merge all lists to this index.

In [42]:
# Or do this process to the full list.

In [82]:
shuffled_email_list['email_id'] = shuffled_email_list.index

In [83]:
shuffled_email_list.head()

                Email Address  email_id
0          eliasalvar@aol.com         0
1          suzennyc@gmail.com         1
2  marshall.mattera@gmail.com         2
3   swiley@gatherbrooklyn.org         3
4         jcardon85@gmail.com         4

#### Save this outside of your repo or other publicly accessible directory.  This should be stored separately from any public git repos or anywhere else publicly accessible, and be used for your purposes only, to link this information back to your audience.

In [84]:
shuffled_email_list.to_csv("/../../sensitive_info/email_secret_key7.csv")

FileNotFoundError: [Errno 2] No such file or directory: '/../../sensitive_info/email_secret_key7.csv'

### Opens and no opens are a simple merger, where you impute the correct value to your no opens dataframe, 0, below.  They are then structured pretty much identically.

In [85]:
dfnoopen['Opens'] = 0

In [86]:
dfnoopen

,Email Address,First Name,Last Name,Address,Phone Number,Birthday,Reference ID,Square Customer ID,Member Rating,Member Rating.1,Opens
0,kslatts26@yahoo.com,K,NaN,US,NaN,NaN,Solomons Contacts,ZV0KE6G8B10MYG2VSCX5PZTZB0,2.0,2,0
1,kaiha.bertollini@gmail.com,Kaiha,Bertollini,US,NaN,NaN,NaN,C957MV0MED7PAJ3HF2GA53DGYG,2.0,2,0
2,Kalin.rodgers@gmail.com,Kalin,Rodgers,US,NaN,NaN,NaN,H311DHYKN90J0JKQ5DYZ6Z09FW,2.0,2,0
3,karen.e.moy@gmail.com,Karen,NaN,US,NaN,NaN,Solomons Contacts,7VTTW5RZF51Y6MY1GEYNB0X37W,2.0,2,0
4,devinbalkind@gmail.com,Devin,Balkind,US,NaN,NaN,NaN,F2GTECKC552JRMV13C9BY9Q2K8,2.0,3,0
5,dmr587@gmail.com,Diana,NaN,US,NaN,NaN,Solomons Contacts,MP4JCHTD197B0KTSPD5EWYZ08M,2.0,2,0
6,katherine.leigh.bryan@gmail.com,Katherine,NaN,US,NaN,NaN,Solomons Contacts,51KEYNA1K17XYT65P945ZHX58M,2.0,2,0
7,dianellycorrea@yahoo.com,Dianelly,Correa,US,NaN,NaN,Solomons Contacts,FMK0ZC7NZ157GSA7VFC2Y7SW4G,2.0,2,0
8,kahoffman627@gmail.com,Kathleen,NaN,US,NaN,NaN,Solomons Contacts,7T14JRNYXD4C8K54NZ42EE5J3M,2.0,2,0
9,dier.crossing@gmail.com,dier.crossing,NaN,US,NaN,NaN,Solomons Contacts,MBWRJ3CJN92H4T62HATBRVFQ2G,2.0,2,0
10,diquesi@gmail.com,Diqu,NaN,US,NaN,NaN,Solomons Contacts,ZAQTDDWTE568MRFEF6NZH39HFW,2.0,2,0
11,dlrsmrg@aol.com,DlrsMrg,NaN,US,NaN,NaN,Solomons Contacts,B68QWX82QX4T6W1SXYB0V2B63G,2.0,2,0
12,knortt44@gmail.com,Katie,Norton,US,NaN,NaN,NaN,D7M4A9HKA97Q4YZWVA6CRMAYF0,2.0,2,0
13,rachel.eisley@gmail.com,Rachel,Eisley,US,NaN,NaN,NaN,MK5S83XQN16JJJ0P1JHNJHC1KM,2.0,2,0
14,Lifesmystory@gmail.com,Rachel,NaN,US,NaN,NaN,NaN,T97Y1HPEG564RXAT1DAJ7A72FG,2.0,2,0
15,alexander.nalbandian@gmail.com,Alexander,NaN,US,NaN,NaN,Solomons Contacts,ZMMCWWAKZ97QWQX7CB3PV2K848,2.0,2,0
16,D.alexi.t@gmail.com,Alexi,NaN,US,NaN,NaN,NaN,ZY4AF2D6852VPSYTNEM75DTFS0,2.0,2,0
17,eduardo_mejia9@hotmail.com,Eduardo,NaN,US,NaN,NaN,Solomons Contacts,DP5986TBBN1R8GM799DZ263MR4,2.0,2,0
18,csalmon40@gmail.com,Randall,Flagg,US,NaN,NaN,NaN,XA3GYTXN4N39PG3WXABV6QDRVW,2.0,2,0
19,eliasalvar@aol.com,Elias,Alvarez,US,NaN,NaN,Solomons Contacts,TGJ6V7V4PS112Y3AVHRC29ZEC4,2.0,2,0
20,yeariishine@yahoo.com,raymond,vasquez,US,NaN,NaN,Solomons Contacts,H4GEH3QEQS21CKNTGVYK3A30QW,2.0,2,0
21,eheart813@yahoo.com,Eliza,NaN,US,NaN,NaN,NaN,A08E47XMHX1YMX3B8MFZ4928X0,2.0,2,0
22,eliza.volk@gmail.com,Eliza,Volk,US,NaN,NaN,NaN,V47KEGRM3D39RW9C8QKNY0S8CC,2.0,2,0
23,luckett.ella@gmail.com,Ella,Luckett,US,NaN,NaN,NaN,8JNBEC07XX07TZXPQM76ZPGRV0,2.0,2,0
24,memecrafter@gmail.com,Ellen,Osuna,US,NaN,NaN,NaN,9TD8SB9AP96XWXDE8HHQ8TYT8W,2.0,2,0
25,esrosen@gmail.com,Emily,NaN,US,NaN,NaN,Solomons Contacts,3G01JC2SWN3SPXQ1BFYA0X5FT4,2.0,2,0
26,kyuy_lim@yahoo.com,Kyu,NaN,US,NaN,NaN,Solomons Contacts,7D25986P110YTGCNETTEXS9MTR,2.0,2,0
27,enrique0814@gmail.com,Enrique,Castañares,US,NaN,NaN,Solomons Contacts,N1F3K5YFF91A0RKVT8BW4N7H5G,2.0,2,0
28,lanelindell@gmail.com,Lane,NaN,US,NaN,NaN,Solomons Contacts,Y9C33B502S2V8N06PWF6H75FFC,2.0,2,0
29,febvigrail@gmail.com,Eric,NaN,US,NaN,NaN,Solomons Contacts,S6F019YH5H49MYPYFSBF5TAYVW,2.0,2,0
...,...,...,...,...,...,...,...,...,...,...,...
139,vavite@gmail.com,Vavite,NaN,US,NaN,NaN,Solomons Contacts,9HPKHGAM955CGY0PER89D0TN78,2.0,3,0
140,jlb738@nyu.edu,Jessica,NaN,US,NaN,NaN,Solomons Contacts,G0KQ43ES7148CYHG5NK1R2DH6M,2.0,2,0
141,om@anahatapath.com,Nazly,Botas,US,NaN,NaN,NaN,KSPF6EDHNN01CS3NYPEK1ZJR50,2.0,2,0
142,Chapstickaholic@yahoo.com,Colette,NaN,US,NaN,NaN,NaN,XNX5ZHTG693DMWWVK7PWWSQ5BW,2.0,2,0
143,victoria@showpaper.org,Victoria,Sobel,US,NaN,NaN,NaN,P5NBY899D11Z2T493R7QRB3MBG,2.0,2,0
144,c.pugh9@gmail.com,Colin,Pugh,US,NaN,NaN,NaN,X5P8CZHNYX4ZJKKQA4N6EPR49R,2.0,2,0
145,costumejim@gmail.com,Jim,Glasser,US,NaN,NaN,NaN,NV3K64GC4D2ZMNKT2CF6MH4WGC,2.0,2,0
146,vweber85@gmail.com,Von,NaN,US,NaN,NaN,NaN,JNWKMQA3Q52Y8KH78BYYZCRN44,2.0,2,0
147,nikkiaddict@gmail.com,NikkiTeen.com,NaN,US,NaN,NaN,Solomons Contacts,87H8TS308H3K2XFVVEXEFPAQT0,2.0,2,0
148,wstracha@createspace.com,Whitney,NaN,US,NaN,NaN,Solomons Contacts,TR093HYXMX78EVJ3H0F15CE0A0,2.0,2,0
149,deedelgee@gmail.com,Dana,Gabiga,US,NaN,NaN,NaN,GWC03JVWW521PPFDFJPSBYZ9AC,2.0,2,0
150,willcarrera22@gmail.com,William,NaN,US,NaN,NaN,Solomons Contacts,F9F9MRPBK12VMSM89V903D3V3M,2.0,2,0
151,jtdonchak@sbcglobal.net,john,donchak,US,NaN,NaN,Solomons Contacts,DHAHSY9DHN1PWPX9RSSCKW2WAC,2.0,2,0
152,dgutin@udr.com,Daniel,NaN,US,NaN,NaN,Solomons Contacts,8VGZCMSNN92KYGF6NX5E62H3AW,2.0,2,0
153,mystudio197@yahoo.com,Daniel,NaN,US,NaN,NaN,Solomons Contacts,X8TBN9DKC97XRXGNV2SV0C651C,2.0,2,0
154,darciisarobot@aim.com,Darci,Garvie,US,NaN,NaN,Solomons Contacts,T91AVM13VD7MJHKAKZGAWEM7B0,2.0,2,0
155,journeysintospace@gmail.com,Zachary,Hamilton,US,NaN,NaN,NaN,80YWYK5H5S6TJN5P8K46GAAP04,2.0,2,0
156,tamarhaviv@hotmail.com,zoey,NaN,US,NaN,NaN,Solomons Contacts,WA4AK65J2X2YAGP7XAQF4M1S70,2.0,3,0
157,jaysaltik@gmail.com,Jay,Saltik,US,NaN,NaN,NaN,NaN,NaN,2,0
158,zaviaeva@gmail.com,Zoya,Aviaeva,Brooklyn US,NaN,NaN,NaN,NaN,NaN,3,0
159,Scorpion196550@gmail.com,Aaron,NaN,US,NaN,NaN,NaN,NaN,NaN,2,0
160,minishayfur@yahoo.com,Abby,Shaffer,US,NaN,NaN,NaN,NaN,NaN,2,0
161,goddessabiola@gmail.com,abiola,NaN,US,NaN,NaN,NaN,NaN,NaN,2,0
162,twisterpwns@aim.com,David,Spiers,US,NaN,NaN,NaN,NaN,NaN,2,0
163,deanna6657@aol.com,Deanna,NaN,US,NaN,NaN,NaN,NaN,NaN,2,0
164,j-pellicier@hotmail.com,j-pellicier,NaN,US,NaN,NaN,NaN,NaN,NaN,2,0
165,juliajuanet@gmail.com,Julia,NaN,US,NaN,NaN,NaN,NaN,NaN,2,0
166,julianna.spence@gmail.com,Julianna,NaN,US,NaN,NaN,NaN,NaN,NaN,3,0
167,justin.roeber@gmail.com,Justin,NaN,US,NaN,NaN,NaN,NaN,NaN,2,0
168,justinsiegel830@gmail.com,Justin,Siegel,US,NaN,NaN,NaN,NaN,NaN,2,0

In [87]:
df_opens = dfopen.merge(dfnoopen, how = "outer")

In [88]:
df_opens.head()

,Email Address,First Name,Last Name,Address,Phone Number,Birthday,Reference ID,Square Customer ID,Member Rating,Member Rating.1,Opens
0,pzimmer123@gmail.com,Phoebe,NaN,US,NaN,NaN,Solomons Contacts,84W4V7BY8S6QWY4SK45E8P4AFR,2.0,4,1
1,randyb@bigfilmdesign.com,Randy,NaN,US,NaN,NaN,Solomons Contacts,AM9ADWR75X098Z8E61TAMNSHQW,2.0,2,1
2,andrewsa@newpaltz.edu,Alice,Andrews,US,NaN,NaN,NaN,4PZWKHGZXH6GPXV98FAV02EV9M,2.0,3,3
3,elikhtig@gmail.com,Eric,Likhtiger,1636 Prospect Place 1 Brooklyn NY 11233 US,NaN,NaN,NaN,R6GDPJ128N2TYGJRZXDN34VN4W,2.0,4,4
4,antandcharmi@btinternet.com,antandcharmi,NaN,US,NaN,NaN,Solomons Contacts,8NJC04SEC92GGSKPMZJ8QPVS40,2.0,3,2

In [89]:
df_opens.shape

(183, 11)

In [90]:
df_opens_sent = df_opens.merge(dfsent, how = "outer")

In [91]:
df_opens_sent.head()

,Email Address,First Name,Last Name,Address,Phone Number,Birthday,Reference ID,Square Customer ID,Member Rating,Member Rating.1,Opens,Bounce Type
0,pzimmer123@gmail.com,Phoebe,NaN,US,NaN,NaN,Solomons Contacts,84W4V7BY8S6QWY4SK45E8P4AFR,2.0,4,1,sent
1,randyb@bigfilmdesign.com,Randy,NaN,US,NaN,NaN,Solomons Contacts,AM9ADWR75X098Z8E61TAMNSHQW,2.0,2,1,sent
2,andrewsa@newpaltz.edu,Alice,Andrews,US,NaN,NaN,NaN,4PZWKHGZXH6GPXV98FAV02EV9M,2.0,3,3,sent
3,elikhtig@gmail.com,Eric,Likhtiger,1636 Prospect Place 1 Brooklyn NY 11233 US,NaN,NaN,NaN,R6GDPJ128N2TYGJRZXDN34VN4W,2.0,4,4,sent
4,antandcharmi@btinternet.com,antandcharmi,NaN,US,NaN,NaN,Solomons Contacts,8NJC04SEC92GGSKPMZJ8QPVS40,2.0,3,2,sent

#### the bounce and dataframe set are similar.  Just set the "Bounce type" in sent to "Sent" before merging.

In [92]:
dfbounce.head()

,Email Address,First Name,Last Name,Address,Phone Number,Birthday,Reference ID,Square Customer ID,Member Rating,Member Rating.1,Bounce Type
0,pennslandingdogblue@yahoo.com,Phyllis,Brown,US,NaN,NaN,Solomons Contacts,51SAAV14EN770M4BX5CESR5YS8,2.0,1,soft
1,angieflav@aim.com,Angie,Caggiano,US,NaN,NaN,Solomons Contacts,31MCEKW9TN3YGKG9F2Q8YBMG7W,NaN,1,hard
2,gsroper@gstevenroper.com,Steven,Roper,US,NaN,NaN,Solomons Contacts,ZQVWEXTR9D5JEVDDDBCJSQJKAM,NaN,1,soft
3,megadragonboy@yahoo.com,megadragonboy,NaN,US,NaN,NaN,Solomons Contacts,7YWNEF7G9100TZ1Y448XWPT0SR,2.0,1,soft
4,jamesmetz@inbox.com,James,Sandoz,US,NaN,NaN,Solomons Contacts,3KN6W54KKN0ZRRCMJ2YM760GBM,NaN,1,soft

In [93]:
dfsent['Bounce Type'] = "sent"

In [94]:
dfsent.head()

,Email Address,First Name,Last Name,Address,Phone Number,Birthday,Reference ID,Square Customer ID,Member Rating,Member Rating.1,Bounce Type
0,kslatts26@yahoo.com,K,NaN,US,NaN,NaN,Solomons Contacts,ZV0KE6G8B10MYG2VSCX5PZTZB0,2.0,2,sent
1,kaiha.bertollini@gmail.com,Kaiha,Bertollini,US,NaN,NaN,NaN,C957MV0MED7PAJ3HF2GA53DGYG,2.0,2,sent
2,Kalin.rodgers@gmail.com,Kalin,Rodgers,US,NaN,NaN,NaN,H311DHYKN90J0JKQ5DYZ6Z09FW,2.0,2,sent
3,pzimmer123@gmail.com,Phoebe,NaN,US,NaN,NaN,Solomons Contacts,84W4V7BY8S6QWY4SK45E8P4AFR,2.0,4,sent
4,karen.e.moy@gmail.com,Karen,NaN,US,NaN,NaN,Solomons Contacts,7VTTW5RZF51Y6MY1GEYNB0X37W,2.0,2,sent

In [95]:
df_bounce_or_sent = dfbounce.merge(dfsent, how='outer')

In [96]:
df_bounce_or_sent.head()

,Email Address,First Name,Last Name,Address,Phone Number,Birthday,Reference ID,Square Customer ID,Member Rating,Member Rating.1,Bounce Type
0,pennslandingdogblue@yahoo.com,Phyllis,Brown,US,NaN,NaN,Solomons Contacts,51SAAV14EN770M4BX5CESR5YS8,2.0,1,soft
1,angieflav@aim.com,Angie,Caggiano,US,NaN,NaN,Solomons Contacts,31MCEKW9TN3YGKG9F2Q8YBMG7W,NaN,1,hard
2,gsroper@gstevenroper.com,Steven,Roper,US,NaN,NaN,Solomons Contacts,ZQVWEXTR9D5JEVDDDBCJSQJKAM,NaN,1,soft
3,megadragonboy@yahoo.com,megadragonboy,NaN,US,NaN,NaN,Solomons Contacts,7YWNEF7G9100TZ1Y448XWPT0SR,2.0,1,soft
4,jamesmetz@inbox.com,James,Sandoz,US,NaN,NaN,Solomons Contacts,3KN6W54KKN0ZRRCMJ2YM760GBM,NaN,1,soft

In [97]:
#Our figure here, 1010, shows us we have a complete dataframe
df_bounce_or_sent.shape

(192, 11)

#### This is the resultant dataframe we want, for each campaign.

In [98]:
df_opens_sents = df_opens_sent.merge(df_bounce_or_sent, how='outer')

In [99]:
df_opens_sents

,Email Address,First Name,Last Name,Address,Phone Number,Birthday,Reference ID,Square Customer ID,Member Rating,Member Rating.1,Opens,Bounce Type
0,pzimmer123@gmail.com,Phoebe,NaN,US,NaN,NaN,Solomons Contacts,84W4V7BY8S6QWY4SK45E8P4AFR,2.0,4,1.0,sent
1,randyb@bigfilmdesign.com,Randy,NaN,US,NaN,NaN,Solomons Contacts,AM9ADWR75X098Z8E61TAMNSHQW,2.0,2,1.0,sent
2,andrewsa@newpaltz.edu,Alice,Andrews,US,NaN,NaN,NaN,4PZWKHGZXH6GPXV98FAV02EV9M,2.0,3,3.0,sent
3,elikhtig@gmail.com,Eric,Likhtiger,1636 Prospect Place 1 Brooklyn NY 11233 US,NaN,NaN,NaN,R6GDPJ128N2TYGJRZXDN34VN4W,2.0,4,4.0,sent
4,antandcharmi@btinternet.com,antandcharmi,NaN,US,NaN,NaN,Solomons Contacts,8NJC04SEC92GGSKPMZJ8QPVS40,2.0,3,2.0,sent
5,wasserman.sa@gmail.com,sara,NaN,US,NaN,NaN,Solomons Contacts,TB9058TY8S25RV2E259MKP32E8,2.0,3,1.0,sent
6,lyndsey.rizzo@gmail.com,lyndsey,NaN,US,NaN,NaN,Solomons Contacts,5DFE74FQX53QGRTT99JK76M16R,2.0,4,1.0,sent
7,guythillet@gmail.com,Guy,Thillet,US,NaN,NaN,NaN,WN603BCDPD36PPF2ZW2CAJ93Q4,2.0,4,1.0,sent
8,marielenaolivia@gmail.com,Marielena,NaN,US,NaN,NaN,Solomons Contacts,YWE32GMZT50F0VHEKHV0DJ0B54,2.0,3,1.0,sent
9,melissadandelion@gmail.com,Melissa,Martin,US,NaN,NaN,NaN,XH2ZZYPG15218KBKQ4WZ0900XW,2.0,4,2.0,sent
10,michellejonilapidos@gmail.com,Michelle Joni,Lapidos,16 Arion Place Brooklyn NY 11206 US,NaN,NaN,NaN,2DYH2ZE77X68TQPGJ9V1A4K9F0,2.0,4,2.0,sent
11,nathan.w.scheuer@gmail.com,Nathan,NaN,US,NaN,NaN,Solomons Contacts,4JFGQCFEZX3R4ZG1G0244CCQNG,2.0,3,1.0,sent
12,wdecker2@cox.net,wdecker2,NaN,US,NaN,NaN,Solomons Contacts,Q2478JKHH10W8W7PBY1QF40R9C,2.0,3,1.0,sent
13,da@acub.ch,Dan,NaN,US,NaN,NaN,Solomons Contacts,3BV0DD2HQ16WPZ6Q9XW0KNJCT0,2.0,4,1.0,sent
14,kslatts26@yahoo.com,K,NaN,US,NaN,NaN,Solomons Contacts,ZV0KE6G8B10MYG2VSCX5PZTZB0,2.0,2,0.0,sent
15,kaiha.bertollini@gmail.com,Kaiha,Bertollini,US,NaN,NaN,NaN,C957MV0MED7PAJ3HF2GA53DGYG,2.0,2,0.0,sent
16,Kalin.rodgers@gmail.com,Kalin,Rodgers,US,NaN,NaN,NaN,H311DHYKN90J0JKQ5DYZ6Z09FW,2.0,2,0.0,sent
17,karen.e.moy@gmail.com,Karen,NaN,US,NaN,NaN,Solomons Contacts,7VTTW5RZF51Y6MY1GEYNB0X37W,2.0,2,0.0,sent
18,devinbalkind@gmail.com,Devin,Balkind,US,NaN,NaN,NaN,F2GTECKC552JRMV13C9BY9Q2K8,2.0,3,0.0,sent
19,dmr587@gmail.com,Diana,NaN,US,NaN,NaN,Solomons Contacts,MP4JCHTD197B0KTSPD5EWYZ08M,2.0,2,0.0,sent
20,katherine.leigh.bryan@gmail.com,Katherine,NaN,US,NaN,NaN,Solomons Contacts,51KEYNA1K17XYT65P945ZHX58M,2.0,2,0.0,sent
21,dianellycorrea@yahoo.com,Dianelly,Correa,US,NaN,NaN,Solomons Contacts,FMK0ZC7NZ157GSA7VFC2Y7SW4G,2.0,2,0.0,sent
22,kahoffman627@gmail.com,Kathleen,NaN,US,NaN,NaN,Solomons Contacts,7T14JRNYXD4C8K54NZ42EE5J3M,2.0,2,0.0,sent
23,dier.crossing@gmail.com,dier.crossing,NaN,US,NaN,NaN,Solomons Contacts,MBWRJ3CJN92H4T62HATBRVFQ2G,2.0,2,0.0,sent
24,diquesi@gmail.com,Diqu,NaN,US,NaN,NaN,Solomons Contacts,ZAQTDDWTE568MRFEF6NZH39HFW,2.0,2,0.0,sent
25,dlrsmrg@aol.com,DlrsMrg,NaN,US,NaN,NaN,Solomons Contacts,B68QWX82QX4T6W1SXYB0V2B63G,2.0,2,0.0,sent
26,knortt44@gmail.com,Katie,Norton,US,NaN,NaN,NaN,D7M4A9HKA97Q4YZWVA6CRMAYF0,2.0,2,0.0,sent
27,rachel.eisley@gmail.com,Rachel,Eisley,US,NaN,NaN,NaN,MK5S83XQN16JJJ0P1JHNJHC1KM,2.0,2,0.0,sent
28,Lifesmystory@gmail.com,Rachel,NaN,US,NaN,NaN,NaN,T97Y1HPEG564RXAT1DAJ7A72FG,2.0,2,0.0,sent
29,alexander.nalbandian@gmail.com,Alexander,NaN,US,NaN,NaN,Solomons Contacts,ZMMCWWAKZ97QWQX7CB3PV2K848,2.0,2,0.0,sent
...,...,...,...,...,...,...,...,...,...,...,...,...
162,wstracha@createspace.com,Whitney,NaN,US,NaN,NaN,Solomons Contacts,TR093HYXMX78EVJ3H0F15CE0A0,2.0,2,0.0,sent
163,deedelgee@gmail.com,Dana,Gabiga,US,NaN,NaN,NaN,GWC03JVWW521PPFDFJPSBYZ9AC,2.0,2,0.0,sent
164,willcarrera22@gmail.com,William,NaN,US,NaN,NaN,Solomons Contacts,F9F9MRPBK12VMSM89V903D3V3M,2.0,2,0.0,sent
165,jtdonchak@sbcglobal.net,john,donchak,US,NaN,NaN,Solomons Contacts,DHAHSY9DHN1PWPX9RSSCKW2WAC,2.0,2,0.0,sent
166,dgutin@udr.com,Daniel,NaN,US,NaN,NaN,Solomons Contacts,8VGZCMSNN92KYGF6NX5E62H3AW,2.0,2,0.0,sent
167,mystudio197@yahoo.com,Daniel,NaN,US,NaN,NaN,Solomons Contacts,X8TBN9DKC97XRXGNV2SV0C651C,2.0,2,0.0,sent
168,darciisarobot@aim.com,Darci,Garvie,US,NaN,NaN,Solomons Contacts,T91AVM13VD7MJHKAKZGAWEM7B0,2.0,2,0.0,sent
169,journeysintospace@gmail.com,Zachary,Hamilton,US,NaN,NaN,NaN,80YWYK5H5S6TJN5P8K46GAAP04,2.0,2,0.0,sent
170,tamarhaviv@hotmail.com,zoey,NaN,US,NaN,NaN,Solomons Contacts,WA4AK65J2X2YAGP7XAQF4M1S70,2.0,3,0.0,sent
171,jaysaltik@gmail.com,Jay,Saltik,US,NaN,NaN,NaN,NaN,NaN,2,0.0,sent
172,zaviaeva@gmail.com,Zoya,Aviaeva,Brooklyn US,NaN,NaN,NaN,NaN,NaN,3,0.0,sent
173,Scorpion196550@gmail.com,Aaron,NaN,US,NaN,NaN,NaN,NaN,NaN,2,0.0,sent
174,minishayfur@yahoo.com,Abby,Shaffer,US,NaN,NaN,NaN,NaN,NaN,2,0.0,sent
175,goddessabiola@gmail.com,abiola,NaN,US,NaN,NaN,NaN,NaN,NaN,2,0.0,sent
176,twisterpwns@aim.com,David,Spiers,US,NaN,NaN,NaN,NaN,NaN,2,0.0,sent
177,deanna6657@aol.com,Deanna,NaN,US,NaN,NaN,NaN,NaN,NaN,2,0.0,sent
178,j-pellicier@hotmail.com,j-pellicier,NaN,US,NaN,NaN,NaN,NaN,NaN,2,0.0,sent
179,juliajuanet@gmail.com,Julia,NaN,US,NaN,NaN,NaN,NaN,NaN,2,0.0,sent
180,julianna.spence@gmail.com,Julianna,NaN,US,NaN,NaN,NaN,NaN,NaN,3,0.0,sent
181,justin.roeber@gmail.com,Justin,NaN,US,NaN,NaN,NaN,NaN,NaN,2,0.0,sent
182,justinsiegel830@gmail.com,Justin,Siegel,US,NaN,NaN,NaN,NaN,NaN,2,0.0,sent
183,pennslandingdogblue@yahoo.com,Phyllis,Brown,US,NaN,NaN,Solomons Contacts,51SAAV14EN770M4BX5CESR5YS8,2.0,1,NaN,soft
184,angieflav@aim.com,Angie,Caggiano,US,NaN,NaN,Solomons Contacts,31MCEKW9TN3YGKG9F2Q8YBMG7W,NaN,1,NaN,hard
185,gsroper@gstevenroper.com,Steven,Roper,US,NaN,NaN,Solomons Contacts,ZQVWEXTR9D5JEVDDDBCJSQJKAM,NaN,1,NaN,soft
186,megadragonboy@yahoo.com,megadragonboy,NaN,US,NaN,NaN,Solomons Contacts,7YWNEF7G9100TZ1Y448XWPT0SR,2.0,1,NaN,soft
187,jamesmetz@inbox.com,James,Sandoz,US,NaN,NaN,Solomons Contacts,3KN6W54KKN0ZRRCMJ2YM760GBM,NaN,1,NaN,soft
188,michael@flowidealism.org,Michael,Strong,US,NaN,NaN,Solomons Contacts,BVFZ1Z4CTX4NARPYRS7XDJJ2F8,NaN,1,NaN,soft
189,donyawhitedaksw@hotmail.com,cindy,NaN,US,NaN,NaN,Solomons Contacts,31NAEX77YX4DJVDMYGH5SEF208,NaN,1,NaN,hard
190,nani.bhat@db.com,Nani,NaN,US,NaN,NaN,Solomons Contacts,SHS5Z5KSTN1ERMDAFR7ED5T2CG,NaN,1,NaN,hard
191,blindedinsynxx@aol.com,Natalie,NaN,US,NaN,NaN,Solomons Contacts,A0T0CWCTB51K6K8S5B7P324XM4,NaN,1,NaN,hard

In [100]:
df_opens_sents.shape

(192, 12)

In [101]:
df_opens_sents.isnull().sum()

Email Address           0
First Name              0
Last Name             110
Address                 0
Phone Number          192
Birthday              192
Reference ID           72
Square Customer ID     12
Member Rating          19
Member Rating.1         0
Opens                   9
Bounce Type             0
dtype: int64

#### Unsubscribes, along with clicks, are more concerned with the content of the email.  So we will also set these aside for now.

In [102]:
dfunsubscribe['unsubscibe reason'] = dfunsubscribe['reason']

In [103]:
dfunsubscribe['unsubscribe description'] = dfunsubscribe['description']

In [104]:
dfunsubscribe.head()

,Email Address,First Name,Last Name,Address,Phone Number,Birthday,Reference ID,Square Customer ID,Member Rating,Member Rating.1,reason,description,unsubscibe reason,unsubscribe description
0,lyndsey.rizzo@gmail.com,lyndsey,NaN,US,NaN,NaN,Solomons Contacts,5DFE74FQX53QGRTT99JK76M16R,2,4,NaN,NaN,NaN,NaN

#### Assign campaign ID

In [105]:
df_opens_sents['campaign_id'] = 7

In [106]:
df_opens_sents_complete = df_opens_sents.merge(campaign_data, how='right')

In [107]:
df_opens_sents_complete.head()

,Email Address,First Name,Last Name,Address,Phone Number,Birthday,Reference ID,Square Customer ID,Member Rating,Member Rating.1,Opens,Bounce Type,campaign_id,Total Recipients,Successful Deliveries,Soft Bounces,Hard Bounces,Total Bounces
0,pzimmer123@gmail.com,Phoebe,NaN,US,NaN,NaN,Solomons Contacts,84W4V7BY8S6QWY4SK45E8P4AFR,2.0,4,1.0,sent,7,199,183,5,11,16
1,randyb@bigfilmdesign.com,Randy,NaN,US,NaN,NaN,Solomons Contacts,AM9ADWR75X098Z8E61TAMNSHQW,2.0,2,1.0,sent,7,199,183,5,11,16
2,andrewsa@newpaltz.edu,Alice,Andrews,US,NaN,NaN,NaN,4PZWKHGZXH6GPXV98FAV02EV9M,2.0,3,3.0,sent,7,199,183,5,11,16
3,elikhtig@gmail.com,Eric,Likhtiger,1636 Prospect Place 1 Brooklyn NY 11233 US,NaN,NaN,NaN,R6GDPJ128N2TYGJRZXDN34VN4W,2.0,4,4.0,sent,7,199,183,5,11,16
4,antandcharmi@btinternet.com,antandcharmi,NaN,US,NaN,NaN,Solomons Contacts,8NJC04SEC92GGSKPMZJ8QPVS40,2.0,3,2.0,sent,7,199,183,5,11,16

#### Assign email ID, using the secret key generated with all emails, from Dataframe_Cleaning123456

In [133]:
secret_key = pd.read_csv("../../../sensitive_info/secret_keys.csv")

In [134]:
df_opens_sents_complete = df_opens_sents_complete.merge(secret_key, how = 'right')

In [135]:
df_opens_sents_complete.head()

,Email Address,First Name,Last Name,Address,Phone Number,Birthday,Reference ID,Square Customer ID,Member Rating,Member Rating.1,...,Bounce Type,campaign_id,Total Recipients,Successful Deliveries,Soft Bounces,Hard Bounces,Total Bounces,Unnamed: 0,Unnamed: 0.1,email_id
0,pzimmer123@gmail.com,Phoebe,NaN,US,NaN,NaN,Solomons Contacts,84W4V7BY8S6QWY4SK45E8P4AFR,2.0,4.0,...,sent,7.0,199,183,5,11,16,630,630,630
1,randyb@bigfilmdesign.com,Randy,NaN,US,NaN,NaN,Solomons Contacts,AM9ADWR75X098Z8E61TAMNSHQW,2.0,2.0,...,sent,7.0,199,183,5,11,16,1348,1348,1348
2,andrewsa@newpaltz.edu,Alice,Andrews,US,NaN,NaN,NaN,4PZWKHGZXH6GPXV98FAV02EV9M,2.0,3.0,...,sent,7.0,199,183,5,11,16,653,653,653
3,elikhtig@gmail.com,Eric,Likhtiger,1636 Prospect Place 1 Brooklyn NY 11233 US,NaN,NaN,NaN,R6GDPJ128N2TYGJRZXDN34VN4W,2.0,4.0,...,sent,7.0,199,183,5,11,16,1100,1100,1100
4,antandcharmi@btinternet.com,antandcharmi,NaN,US,NaN,NaN,Solomons Contacts,8NJC04SEC92GGSKPMZJ8QPVS40,2.0,3.0,...,sent,7.0,199,183,5,11,16,175,175,175

In [136]:
df7secure = df_opens_sents_complete.iloc[:, 9:]

In [137]:
df7secure.head()

,Member Rating.1,Opens,Bounce Type,campaign_id,Total Recipients,Successful Deliveries,Soft Bounces,Hard Bounces,Total Bounces,Unnamed: 0,Unnamed: 0.1,email_id
0,4.0,1.0,sent,7.0,199,183,5,11,16,630,630,630
1,2.0,1.0,sent,7.0,199,183,5,11,16,1348,1348,1348
2,3.0,3.0,sent,7.0,199,183,5,11,16,653,653,653
3,4.0,4.0,sent,7.0,199,183,5,11,16,1100,1100,1100
4,3.0,2.0,sent,7.0,199,183,5,11,16,175,175,175

In [138]:
df7secure.pop('Unnamed: 0')

0        630
1       1348
2        653
3       1100
4        175
5        277
6       1175
7       1547
8        585
9       1471
10       861
11       825
12      1440
13       625
14       993
15       862
16      1444
17       626
18      1488
19      1241
20       571
21      1491
22      1376
23       854
24        66
25      1433
26        32
27      1734
28       751
29       442
        ...
1760    1756
1761    1757
1762    1758
1763    1759
1764    1760
1765    1761
1766    1762
1767    1764
1768    1765
1769    1766
1770    1767
1771    1768
1772    1769
1773    1770
1774    1771
1775    1772
1776    1773
1777    1774
1778    1775
1779    1777
1780    1778
1781    1779
1782    1781
1783    1782
1784    1783
1785    1784
1786    1785
1787    1786
1788    1787
1789    1788
Name: Unnamed: 0, Length: 1790, dtype: int64

In [139]:
df7secure.head()

,Member Rating.1,Opens,Bounce Type,campaign_id,Total Recipients,Successful Deliveries,Soft Bounces,Hard Bounces,Total Bounces,Unnamed: 0.1,email_id
0,4.0,1.0,sent,7.0,199,183,5,11,16,630,630
1,2.0,1.0,sent,7.0,199,183,5,11,16,1348,1348
2,3.0,3.0,sent,7.0,199,183,5,11,16,653,653
3,4.0,4.0,sent,7.0,199,183,5,11,16,1100,1100
4,3.0,2.0,sent,7.0,199,183,5,11,16,175,175

In [140]:
df7secure.isnull().sum()

Member Rating.1          1598
Opens                    1607
Bounce Type              1598
campaign_id              1598
Total Recipients         1598
Successful Deliveries    1598
Soft Bounces             1598
Hard Bounces             1598
Total Bounces            1598
Unnamed: 0.1                0
email_id                    0
dtype: int64

In [141]:
df7secure['Opens'].fillna(0, inplace=True)

In [142]:
df7secure.to_csv("df7secure.csv")